<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <header>
    <div id="header_container">
      <div id="blog_title" class="float_left">
        <h3><a href="/">Lorem Blog</a></h3>
      </div>
      
      <div class="float_right sessions"><a href="/">Logout</a></div>
      <div class="float_right sessions"><a href="/">Login</a></div>
      <div class="float_right sessions"><a href="/">Register</a></div>
      <div class="float_right sessions">
        <a href="/create_post">Create Post</a>
      </div>
    </div>
  </header>

  <%= yield %>


  <footer>
    This is my blog's footer.
  </footer>
  
</body>
</html>
